{{ $file := .Get 0 }}
{{/* We check the path relative to the PROJECT ROOT */}}
{{ $verifyingPath := printf "content/labs/%s" $file }}

{{ if (fileExists $verifyingPath) }}
    <div class="lab-content">
        {{ readFile $verifyingPath | markdownify }}
    </div>
{{ else }}
    <div style="color: orange; border: 1px solid orange; padding: 10px;">
        <strong>Mount Debug:</strong><br>
        Searching for: <code>{{ $verifyingPath }}</code><br>
        Current Directory: <code>{{ os.Stat "." }}</code><br>
        {{/* Only try to read the directory if it actually exists to avoid the ERROR */}}
        {{ if (fileExists "content/labs") }}
            Labs folder found virtually.
        {{ else }}
            <span style="color:red;">Error:  ${{ $verifyingPath }} content/labs is not mounted correctly.</span>
        {{ end }}
    </div>
{{ end }}