<div class="profile">
    {{- with site.Params.profileMode }}
    <div class="profile_inner">
        <h1>{{ .title | default site.Title | markdownify }}</h1>
        <span>{{ .subtitle | markdownify }}</span>

        <div id="searchbox">
            <input id="searchInput" autofocus placeholder="Search Terraform labs..." type="search" autocomplete="off">
            <ul id="customResults" class="search-results" style="display: none;"></ul>
        </div>

        <div class="suggested-searches">
            <span>Try searching for:</span>
            <div class="chips-container">
            </div>
        </div>

       <div class="button-container">
        {{- $learningPath := (where site.RegularPages "Section" "posts").ByWeight -}}
        {{- $startNode := index $learningPath 0 -}}

        <button class="google-btn" onclick="window.location.href='{{ $startNode.Permalink }}'">
            Initialize Learning
        </button>
        <button class="google-btn" id="lucky-btn"
        onmouseover="this.innerText='Take a Quiz?'" 
        onmouseout="this.innerText='I\'m Feeling Lucky'"
        >I'm Feeling Lucky</button>
        </div>

        {{- partial "social_icons.html" (dict "context" . "align" true) -}}
    </div>
    {{- end }}
</div>

<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
<script>
    window.searchIndex = '{{ "index.json" | relURL }}';
</script>
<script defer src="{{ "js/search.js" | relURL }}"></script>